<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{cabecalho :: head}"></div>
    <title>Gerenciar Motoristas</title>
</head>
<body>
<div th:replace="~{cabecalho :: nav}"></div>
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Motoristas</h1>
        <a th:href="@{/motoristas/form}" class="btn btn-custom-primary">Adicionar Motorista</a>
    </div>

    <div class="card-custom p-0">
        <div class="table-responsive">
            <table class="table table-custom mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>CNH</th>
                        <th>Data de Nascimento</th>
                        <th class="text-end">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="motorista : ${motoristas}">
                        <td th:text="${motorista.id}"></td>
                        <td th:text="${motorista.nome}"></td>
                        <td th:text="${motorista.cpf}"></td>
                        <td th:text="${motorista.cnh}"></td>
                        <td th:text="${#temporals.format(motorista.dataNascimento, 'dd/MM/yyyy')}"></td>
                        <td class="text-end">
                            <a th:href="@{/motoristas/update/{id}(id=${motorista.id})}" class="btn btn-sm btn-outline-secondary me-2">Alterar</a>
                            <a th:href="@{/motoristas/delete/{id}(id=${motorista.id})}" class="btn btn-sm btn-outline-danger">Deletar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>